body {
    font-family: 'Montserrat', sans-serif;
}


#content_container{
    top: 80px;
    width: 1030px;
    margin: 0 50% 0 50%;
    bottom: 32px;
}

#container_navibar{
    top: 80px;
    width: 1030px;
    margin: 0 50% 0 50%;
    bottom: 32px;
}

